
:root {
  --bs-primary: #9333ea;       
  --bs-light: #f5f3ff;       
  --bs-dark: #213b5f;        
}


body {
  background-color: var(--bs-dark);
    color: #f3f4f6; 
    font-weight: 500;
}

.table thead {
  background-color: var(--bs-primary);
  color: #fff;
}
.table tbody tr:nth-child(even) {
  background-color: var(--bs-light);

}
.table tbody tr:nth-child(odd) {
  background-color: #fff;
}
